:root {
  --logocolor: #6070ff;
  --textcolor: #344563;
  --titlecolor: #172b4d;
  --color: #7f8cff;
  --iconscolor: #505f79;
  --bgcolor: #fff;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 40px;
  background-image: url("images/Background.png");
}

#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 100px 20px;
}

.design {
  text-decoration: none;
  list-style: none;
}

#logo {
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-top: 4px;
  color: var(--logocolor);
}

#logo:hover {
  transition-duration: 5s;
  transition-delay: 1s;
  transform: rotate(360deg);
  font-size: 34px;
  opacity: 0.5;
}

#Menu_id {
  color: var(--logocolor);
  font-size: 34px;
  margin-top: 0;
}

.headlineSection {
  margin: 0 20px 40px 20px;
  padding-bottom: 10px;
  padding-right: 25px;
}

.headlineSection h1 {
  color: var(--titlecolor);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headlineSection p {
  color: var(--textcolor);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
}

.headlineSection h3 {
  color: var(--color);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.sociallinks {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding-left: 0;
  font-size: 30px;
}

.SocialDesign {
  margin-right: 17px;
  color: var(--iconscolor);
}

.SocialDesign:hover {
  transition-delay: 0s;
  font-size: 55px;
}

#work {
  padding-right: 20px;
  display: grid;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  float: left;
  margin: 40px 75px 20px 73px;
  width: 327px;
  height: 650px;
  border: 1px solid  #dfe1e6;
  border-radius: 16px;
  padding: 10px;
}

.gridimg {
  float: left;
  margin-right: 90px;
  width: 295px;
  height: 220px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 9px;
}

.btn {
  color: #396df2;
  background-color: #fff;
  border: 1px solid #396df2;
  padding: 13px;
  border-radius: 9px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  margin-left: 17px;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  cursor: pointer;
}

.btn:active {
  color: #fff;
  background: #2230d2;
}

.liststyle {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border-radius: 8px;
  background-color: #ebebff;
}

.list {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.listdesign {
  margin-right: 70px;
}

.languageContainer {
  width: 100%;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.languagesName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 0;
}

.Skills li {
  display: flex;
  justify-content: space-between;
  margin: 28px 30px  0 30px;
}

.skillList li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin: 8px 10px 37px 0;
  align-items: center;
}

#css {
  margin-bottom: 14px;
}

.pictures {
  padding: 0;
}

.pictures img {
  margin-top: 6px;
  margin-bottom: 25px;
  margin-left: 90px;
}

.border {
  border-bottom: 1px solid #d2d7da;
  padding-bottom: 36px;
  margin-left: 0;
}

.TextArea h3 {
  color: var(--titlecolor);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.TextArea p {
  color: var(--textcolor);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 20px;
}

.infolist {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-top: 0;
}

.font {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--textcolor);
  margin-left: 20px;
  margin-right: 28px;
}

.BulleDesign {
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.span {
  margin-right: 6px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.skillList {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

#About {
  margin-left: 70px;
  margin-top: 80px;
}

.b {
  margin-left: 6px;
  margin-top: 15px;
}

h2 {
  color: var(--titlecolor);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contactSection {
  background: #6070ff;
  border-radius: 130px 0 0 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 110px;
  padding-top: 50px;
  background-image: url("images/footerbg.png");
  background-repeat: no-repeat;
  background-position: 80px 10px;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.Textareainput {
  height: 200px;
}

.inputclass,
.Textareainput {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#touchbutton {
  margin-top: 15px;
  margin-left: 3px;
  margin-right: 20px;
  width: 140px;
  padding: 15px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #6070ff;
  letter-spacing: 0.03em;
}

#touchbutton:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: white;
  letter-spacing: 0.03em;
}

#touchbutton:active {
  color: #fff;
  background: #2230d2;
}

.Formtitle {
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.Formtext {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 50px;
  margin-right: 47px;
  margin-left: 30px;
  margin-bottom: 90px;
}

.DesktopNavtext {
  display: none;
}

input {
  font-family: "Poppins", sans-serif;
  padding: 15px 10px;
  font-size: 17px;
  margin-bottom: 25px;
  color: black;
}

input:focus {
  outline: 0;
}

input :placeholder {
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

textarea {
  font-family: "Poppins", sans-serif;
  padding: 15px 10px;
  font-size: 17px;
  color: black;
}

textarea:focus {
  outline: 0;
}

@media (min-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  .DesktopNavtext a:visited {
    color: #344563;
  }

  .FirstSection {
    max-width: 100%;
    height: 900px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 140px;
    background-image: url("images/Desktopbg.png");
    padding: 15px 0 0 20px;
    border-radius: 0 0 0 120px;
  }

  #Menu_id {
    display: none;
  }

  .DesktopNavtext {
    display: flex;
    justify-content: flex-start;
    color: #344563;
  }

  body {
    background-image: none;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #e5e5e5;
  }

  #Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px 100px 90px;
  }

  .DesktopNavElements {
    margin: 0 40px 0  0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #396df2;
  }

  #logo {
    margin-top: 0;
  }

  .headlineSection {
    margin-top: 300px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 51%;
    overflow: hidden;
  }

  #work {
    align-items: center;
    margin-bottom: 100px;
  }

  .card {
    width: 80%;
    display: flex;
    height: auto;
    border: 1px solid  #dfe1e6;
    border-radius: 16px;
    background-color: white;
    flex-wrap: wrap;
    padding: 24px;
  }

  .card:nth-child(even) {
    flex-direction: row-reverse;
    height: auto;
  }

  .languagePics {
    margin-right: 17px;
    background-color: #505f79;
    padding-left: 20px;
  }

  .contactSection {
    background-image: url("images/Contactformdesktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 120px;
    padding-top: 10px;
    margin-top: 0;
  }

  .Contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .inputclass,
  .Textareainput {
    border: 1px solid #cfd8dc;
    border-radius: 0;
  }

  .Formtitle {
    padding-top: 80px;
  }

  .Formtext {
    width: 89.5%;
    text-align: center;
    margin: 0 48px 50px 50px;
  }

  .Textareainput {
    width: 30%;
  }

  #touchbutton {
    margin: 20px 70px 0 70px;
  }

  .aboutSection {
    background-color: white;
    border-radius: 0 120px 0 0;
    display: flex;
    margin: 0;
    padding-left: 65px;
    padding-top: 0;
  }

  #About {
    width: 40%;
    padding-right: 50px;
  }

  .Skills {
    display: block;
    margin-top: 130px;
    width: 50%;
    margin-right: 110px;
  }

  .Skills li {
    display: flex;
    justify-content: space-between;
    margin: 28px 0 20px 0;
  }

  .skillList {
    margin-right: 70px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin-left: 0;
  }

  .languageIcons {
    border-radius: 8px;
  }

  .TextArea h3 {
    color: var(--titlecolor);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 18px;
    margin-right: 0;
  }

  .TextArea p {
    color: var(--textcolor);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }

  .TextArea {
    width: 40%;
    height: 50%;
    padding-right: 10px;
  }

  .gridimg {
    height: 100%;
    width: 100%;
    margin-top: 23px;
  }

  .list {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .border {
    border-bottom: 1px solid #d2d7da;
    padding-bottom: 36px;
    margin-left: 0;
  }

  .picturescreenshot {
    width: 45.5%;
    height: auto;
  }

  .pictures img {
    margin-top: 6px;
    margin-bottom: 25px;
    margin-left: 37px;
  }

  .pictures {
    display: flex;
  }

  #css {
    margin-bottom: 0;
    margin-left: 49px;
  }

  .inputclass {
    width: 30%;
  }

  .skillList li {
    margin: 0 74px 0 2px;
  }

  .languagesName {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .DesktopNavElements:hover {
    color: var(--textcolor);
    font-size: 25px;
  }
}

.headlineSection h1,
h2 {
  animation: MoveUpDown 3s linear 0s;
}

@keyframes MoveUpDown {
  from {
    margin-left: 20px;
  }

  to {
    margin-left: 40px;
  }
}
