 
 
:root{
    --logocolor:#6070FF;
    --textcolor:#344563;
    --titlecolor:#172B4D;
    --color:#7F8CFF;
    --iconscolor:#505F79;  
}
body{
    margin: 0;  
    background-image: url("images/Background.png"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 70px;
}
#Header{
    display:flex;
    justify-content: space-between;
    margin: 30px 20px 120px 20px;
}
.design{
    text-decoration: None;
    list-style:None;
}
 #logo{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: var(--logocolor);
}
#Menu_id{ 
    color:var(--logocolor);
    font-size:30px;
}
#headlineSection{    
    margin:  0px 20px 50px 20px;
}
#headlineSection h1{
    color: var(--titlecolor);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
#headlineSection p{
    color:var( --textcolor);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
#headlineSection h3{
    color:var(--color);
    font-family: 'Poppins',sans-serif;
}
#sociallinks{
    display:flex;
    justify-content: flex-start;   
    padding-left: 0px;
    font-size: 30px;   
}
.SocialDesign{
    margin-right: 15px;
    color: var(--iconscolor);
}
 